[pull]
    rebase = true
    ff = only

[init]
    defaultBranch = main

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictStyle = zdiff3

# Identity & Secrets
[include]
    path = ~/.gitconfig.local
